@page "/readcsv"

<h1>CSV Reader</h1>

<p>@records.Count()</p>

<table class="table">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Van</th>
            <th>Tegenrekening</th>
            <th>Bedrag</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in records)
        {
            <tr>
                <td>01-01-2019</td>
                <td>@record.IbanFrom</td>
                <td>@record.IbanTo</td>
                <td>@record.Ammount</td>
            </tr>
        }
    </tbody>
</table>

<button @onclick="Read">Read CSV</button>


@code {

    private List<Models.Transaction> records = new List<Models.Transaction>();

    private async void Read()
    {
        var worker = new Logic.ReadCsv();
        foreach (var thing in await worker.DoReadCsv())
        {
            records.Add(thing);
        };
    }

}